BASE_URL=http://localhost:3000/
IMPRINT_URL=https://neuland-ingolstadt.de/legal/impressum
FROM_EMAIL=
AZURE_COMMUNICATION_SERVICE_CONNECTION_STRING=
JWT_SECRET=
EASYVEREIN_API_KEY=
EASYVEREIN_EMAIL_CF=
EASYVEREIN_DATE_CF=
CLUB_NAME=
ALTCHA_SECRET=