BASE_URL=http://localhost:3000/
IMPRINT_URL=https://neuland-ingolstadt.de/legal/impressum
FROM_EMAIL=
AZURE_COMMUNICATION_SERVICE_CONNECTION_STRING=
JWT_SECRET=
BACKEND=easyverein
EASYVEREIN_API_KEY=
EASYVEREIN_EMAIL_CF=
EASYVEREIN_DATE_CF=
WEBLING_API_KEY=
WEBLING_PATH=
CLUB_NAME=
NEXT_PUBLIC_HCAPTCHA_SITEKEY=
HCAPTCHA_SECRET=
NEXT_PUBLIC_IGNORE_HCAPTCHA=false